 <img class="banner" src="../../../assets/Banner.jpg" alt="Banner"> 
 <div class="padding"></div>
 <div class="info">   
        <img class="profilefoto" src="C:\Users\macup\OneDrive\Imágenes\ARG - Macarena Rocio Puche Ali 2 (2).jpg" alt="Imágen de Perfil">
       <div>
        <h1>
        Macarena Rocío Puche Alí
       </h1>
       <h2>
        Full Stack Developer Jr.
       </h2>
       <h3>
        Argentina Programa-INTI
       </h3>
    </div>  
    </div>
    <div class="padding"></div>
        <div class="info2"> 
            <h1>
                Experiencia
                </h1>        
        <h2>
                Full Stack Developer Jr. - Argentina Programa
                </h2>
    
                <h4>
                Creación de Portfolio web 
                </h4>
        
    </div>
<div class="padding"></div>
        <div class="info2">
            <h1>
                Educación
            </h1>
           
         </div>
         <div class="padding"></div>
         <div class="info2">
            <h1>
                Hard & Soft Skills
            </h1>

         </div>