<nav id="navbar-example2" class="navbar bg-secondary px-0 py-0 mb-2">
    <div class="navbar-brand" href="#">
      <img src="../../../assets/Logos/APLogo.png" alt="" width="190" height="100"> 
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href=""> <img src="../../../assets/Logos/github.png" width="25px"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""> <img src="../../../assets/Logos/linkedin.png" width="25px"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""> <img src="../../../assets/Logos/facebook.png" width="25px"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""> <img src="../../../assets/Logos/twitter.png" width="25px"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#scrollspyHeading3">Login</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#scrollspyHeading5">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  

  