<nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
    <div class="navbar-brand" href="#">
      <img src="C:\Users\macup\OneDrive\Desktop\Yo Programo\Elementos para mi app\Logo arg programa.PNG" alt="" width="30" height="24">
      Argentina Programa
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">Contenido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">LinkedIn</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#scrollspyHeading3">Login</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#scrollspyHeading5">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  

  