<div class="margin"></div>
<div class="info2">
   <h1>Hard & Soft skills</h1>
  <circle-progress
   [percent]="30"
   [radius]="100"
   title="HTML"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#78C000'"
   [innerStrokeColor]="'#C7E596'"
   [animation]="true"
   [animationDuration]="900"
   ></circle-progress>

   <circle-progress
   [percent]="55"
   [radius]="100"
   title="Java"
   [outerStrokeWidth]="16"
   [innerStrokeWidth]="8"
   [outerStrokeColor]="'#78C000'"
   [innerStrokeColor]="'#C7E596'"
   [animation]="true"
   [animationDuration]="900"
   ></circle-progress>
</div>